.blog-layout {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.left {
    flex: 1;
    margin-right: 10px; /* Espacio a la derecha para separarlo del contenido central */
    padding: 0;          /* Elimina cualquier padding interno */
    margin-left: 0;
}

.center {
    flex: 2;
    margin-right: 10px;
}

.right {
    flex: 1;
}