.dashboard {
    margin-left: 15%; /* Ajusta esto según el ancho del Sidebar */
    margin-right: 15%;

}

@media (max-width: 830px) {
    .dashboard {
        margin-left: 0%; /* Ajusta el margen para pantallas más pequeñas */
    }
}

@media (min-width: 1920px) {
    .dashboard {
        margin-left: 23%; /* Ajusta el margen para pantallas grandes */
    }
}