
.planta {
    margin-left: 23%; /* Ajusta esto según el ancho del Sidebar */
    margin-right: 23%; /* Ajusta esto según el ancho del Sidebar */

}

@media (max-width: 830px) {
    .planta {
        margin-left: 0%; /* Ajusta el margen para pantallas más pequeñas */
    }
}

@media (min-width: 1920px) {
    .planta {
        margin-left: 23%; /* Ajusta el margen para pantallas grandes */
    }
}