.topbar {
    position: fixed;
    width: 100%;
    background-color: #333;
    color: white;
    height: 64px; /* Altura del Topbar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Ajuste lateral */
    margin: 0; /* Eliminar margen */
}

/* Estilo para los enlaces activos */
.active-link {
    font-weight: bold;
    color: var(--nextui-colors-secondary); /* Cambia al color secundario de NextUI */
    text-decoration: underline;
}

/* Estilo para los enlaces inactivos */
.navbar-item a {
    color: var(--nextui-colors-foreground);
}